h1, h2, h3 {    
    color: red;
    display: flex;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 5rem;
}

h2 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: darkcyan;
    text-decoration: underline;
    font-size: 3rem;
}

body {
    background-color: #eff0ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #feb1fc;
    font-size: 3rem;
    width: 100%;
    flex-wrap: wrap;
}

img {
    max-width: 80%;
    height: auto;
}

a img {
    display: block;
    margin: 0 auto;
}

/* Définir la largeur du conteneur */
.carousel-container {
    width: 80%;
    height: auto;
    position: relative; /* Pour que les boutons soient positionnés relativement au conteneur */
    margin: 0 auto; /* Centrer le conteneur horizontalement */
}

#carouselControl {
    width: 100%; /* Utiliser toute la largeur du conteneur */
}

.carousel-inner {
    overflow: hidden; /* Masquer tout débordement des images */
}

.carousel-item img {
    width: 100%; /* Remplit la largeur du conteneur */
    height: 100%; /* Remplit la hauteur du conteneur */
    object-fit: cover; /* Couvre le conteneur tout en conservant les proportions */
}



/* Styles pour les boutons de contrôle */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    border: none; /* Retirer les bordures par défaut */
    color: white; /* Couleur du texte des icônes */
    font-size: 2rem; /* Taille des icônes */
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajuster le centrage */
}

.carousel-control-prev {
    left: -2.5%; /* Déplacer le bouton vers la gauche */
}

.carousel-control-next {
    right: -2.5%; /* Déplacer le bouton vers la droite */
}

/* Options de survol */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Changer la couleur du fond lors du survol */
}


@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    nav {
        flex-direction: column;
        font-size: 2rem;
    }

    button {
        width: 15em;
        height: 4em;
    }

    #carouselControl {
        width: 100%;
    }

    .carousel-caption {
        font-size: 3vw;
    }
}
