
h1, h2 , h3 {    
    color: red;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 5rem;
}
h2{
    text-decoration: underline;
    font-style: italic;
    font-style: bold;
}
h3{
    color: darkcyan;
    text-decoration: underline;
    font-size: 3rem;
}
body{
    background-color: #eff0ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}
nav{
	display: flex;
	justify-content: space-around;
    background-color: #feb1fc;
    font-size: 3rem;
    
    
}
img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
a img {
    display: block;
    margin: 0 auto;
}

#nounou{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#carouselControl{
    display: flex;
    justify-content: center;

}
#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
    /* Couleur de fond */
    color: #fff;
    /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    /* Assure que les boutons apparaissent au-dessus des images */
}

#prevButton:hover,
#nextButton:hover {
    background-color: red;
    /* Changement de couleur au survol */
}
#prevButton {
    left: 10px;
    /* Positionne le bouton "Previous" à gauche */
}

#nextButton {
    right: 10px;
    /* Positionne le bouton "Next" à droite */
}

.carousel-item-active div {
    position: relative;
}

.carousel-item-active div::before {
    content: attr(title);
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 2vw;
}

fieldset {
    background-color: rgb(252, 60, 236);
    border-radius: 5%;
    font-size: 3rem;
    font-weight: bold;
}

input, textarea{
    background-color: rgb(206, 248, 42);
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    background-color: pink;
    color: white;
    border-style: double;
    border-color: brown;
    height: 5em;
    width: 20em;
    font: bold15px arial, sans-serif;
    text-shadow: none;
}