<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contacter la nounou d'enfer</title>
</head>
<body>
		<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>

<br>
    <section>
        <fieldset>
            
            <form action="contact" method="post">
                <h3>Contact</h3>
                <label for="mail">Votre adresse mail</label>
                <input type="mail" id=mail placeholder="adresse@mail.com" required>
                <br>
                <br>
                <label for="message">Votre message</label>
                <textarea name="message" id="message" placeholder="Entrez votre message et vos coordonnées ici: "
                    maxlength="500" cols="55" rows="6" required></textarea><br>
                <button type="submit">Envoyer</button>
        
            </form>
        </fieldset>
    </section>
</body>
</html>