<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>L'experience d'une nounou d'enfer</title>
</head>
<body>
		<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>


    <h2>Expérience</h2>
    <p>Après avoir obtenu son Bac ST2S, votre super nounou a travaillé à l'école de Scrignac.
        <br>Pour en savoir plus, n'hésitez pas à cliquer <a href="https://www.ouest-france.fr/bretagne/scrignac-29640/scrignac-patience-ehses-en-service-civique-a-l-ecole-260145cc-55f1-11ec-a699-63e8dda99ebd">ici</a>
        ou sur l'article dessous pour plus d'informations.
        <br><br>
        <a href="https://www.ouest-france.fr/bretagne/scrignac-29640/scrignac-patience-ehses-en-service-civique-a-l-ecole-260145cc-55f1-11ec-a699-63e8dda99ebd"><img src="img/presse.png" alt="Article ouest France "></a>
        <br>Votre nounou est jeune, disponible et flexible.
        <br>Elle saura être à votre écoute.
        <br>Maman d'un adorable petit garçon, votre nounou est forte de son apprentissage, de son expérience professionnelle
        et personnelle.
        <br>Une nounou qui saura éveiller votre enfant notamment à l'aide de nombreuses activités manuelles.
    </p>
</body>
</html>