<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <title>Une nounou d'enfer</title>
    
</head>
<body> 

   		<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>
   

    <h2>Vous la cherchiez?</h2>
    <p> <br><br> La voici, la super nounou de Scrignac, à deux pas de l'école maternelle et primaire. 
     <br><br>Une jeune nounou, dynamique et passionné par les enfants.</p>
    <br>

    <div><img id="nounou" src="/img/jeu_action.jpg" alt="la nounou en action" title="Nounou en action"></div>

    

<b></b>


</body>
</html>